html, body {
    height: auto;
}

main p {
    height: 50vh;
    display: flex;
    align-items: center;
}

footer {
    display: grid;
    padding-bottom: calc(1 * var(--margin));
}

footer ul {
    height: 50vh;
}

footer ul:nth-child(1) {
    margin-left: 20%;
}

footer ul:nth-child(2) {
    height: auto;
}

nav {
    position: fixed;
    bottom: var(--margin);
}