html, body {
    height: auto;
}

header {
    position: sticky;
    top: var(--margin);
}

/* NOWE */

main {
    /* display: grid; */
    margin-top: calc(10vw - var(--gap-size));
    margin-bottom: 10vw;
}

main ul {
    display: grid;
    gap: 20vw;
    
}

main ul li {
    display: grid;
    grid-template-rows: calc(100vw - 2 * var(--margin));
    gap: var(--margin);

    align-items: center;
    
}

/* END NOWE */

li img {
    /* height: calc(100vw - 2 * var(--margin)); */
    /* width: 100vw; */
    object-fit: contain;
    /* object-position: left; */
    /* padding: calc(2 * var(--margin)) 0 calc(4 * var(--margin)) 0; */
}

li p {
    display: none;
}

nav {
    position: fixed;
    bottom: var(--margin);
} 